
h1 {
    color:#E63946;
}

h3 {
    color: #1D3557;

}

h5 {
    color: #457B9D;
}

.button {
background-color: #1D3557;
color: white;
padding:20px 30px;
border: 0;

}


body {
    background-image: linear-gradient(#457B9D , #1D3557);
    background-color:#1D3557;

}

.container {
    max-width: 900px;
    min-height: 600px;
    min-width:400px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #A8DADC;
  

}

h1 {
    padding:20px;
}

#welcome {
    position: absolute;
    top: 50%;
    left: 37%;

}

#resultNotice {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    min-width: 300px;
    min-height: 300px;
    text-align: center;
    background-color: #1D3557;
    color:white;
    display:none;
    transform: translate(-50%, -50%);
    z-index:2;
    padding: 50px;
    border-radius: 2%;
}



.row.pad {
    padding: 10px 40px;
}

#qtable {
  
    /* display: none; */
}

.an:hover {
   background-color: #A8DADC;

}

.an {
padding-left: 40px;

}

@media only screen and (min-width: 700px) {
#qtable {
    position: absolute;
    left: 100px;
    width:600px;

}

}